.footer-container {
  background-color: black;
  position: relative;
  .footer-links {
    padding-top: 80px;
    ul {
      li {
        padding-bottom: 20px;
        a {
          text-decoration: none;
          color: gray;

          &:hover {
            text-decoration: underline;
            color: white;
          }
        }
      }
    }

    &::after {
      content: "";
      background: white;
      width: 430px;
      height: 1px;
      display: block;
      position: absolute;
      left: 38px;
    }
  }

  .socials {
    display: grid;
    position: absolute;
    top: 74px;
    left: 446px;
    a {
      text-decoration: none;
      font-size: 35px;
      padding-bottom: 20px;
      color: gray;

      &:hover {
        color: white;
      }
    }
  }

  .other-links {
    p {
      color: white;
      text-transform: uppercase;
      margin-left: 40px;
      font-size: 12px;
      padding-bottom: 20px;
    }
    ul {
      li {
        padding-bottom: 50px;
        a {
          text-decoration: none;
          color: gray;

          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }

    &::after {
      content: "";
      background: white;
      width: 430px;
      height: 1px;
      display: block;
      position: absolute;
      left: 38px;
    }
  }

  .lnk {
    a {
      color: gray;
      text-decoration: none;
      margin-left: 40px;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }

    &::after {
      content: "";
      background: white;
      width: 430px;
      height: 1px;
      display: block;
      position: absolute;
      left: 38px;
      margin-top: 30px;
    }
  }

  .last-footer-container {
    margin-top: 50px;
    margin-left: 40px;
    padding-bottom: 200px;
    position: relative;
    p {
      color: gray;
      margin-bottom: 15px;
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }

    .image-footer {
      margin-top: 20px;
      img {
        width: 100px;
      }
    }

    .footer-decoration {
      img {
        width: 300px;
        position: absolute;
        top: -87px;
        left: 188px;
      }
    }
  }
}
