@use "body";
@use "header";
@use "numbers";
@use "video";
@use "table";
@use "teachers";
@use "road";
@use "students";
@use "partners";
@use "events";
@use "footer";
@use "responsive";

.up a {
  background-color: blue;
  color: black;
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 12px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
